<ion-view title="Acerca de iNNOVA La Rioja" id="page3">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <span style="color: #ff0000;">
          <strong>iNNOVA </strong>
        </span>es un espacio abierto que reúne a profesionales, estudiantes, emprendedores, líderes comunitarios y vecinos de La Rioja. Debatimos, difundimos ideas y generamos proyectos con una mirada práctica que nos sirvan para intervenir en una agenda pública
        y gubernamental de nuestra ciudad y provincia.&nbsp;Nuestros principios ponen el foco en la necesidad de una mirada estratégica de los asuntos públicos basada en la transparencia, la sustentabilidad y la capacidad de respuesta del Estado y sus
        intervenciones de política pública.&nbsp;</p>
      <p>CONTACTO:&nbsp;(3804) – 202161</p>
      <p>
        <a href="mailto:innovalarioja@gmail.com">innovalarioja@gmail.com</a>
      </p>
      <p>Benjamín de la Vega, 76 - La Rioja, Argentina</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/8AGMogRgSiiqYlg8YRMI_WhatsAppImage2018-10-05at12.14.28.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>