<ion-view title="¿Dónde voto?" id="page2">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <span style="color: #ff0000;">
          <strong>Consulta el padrón electoral</strong>
        </span>
      </p>
      <p>Ingresa al sistema y coloca tu número de documento para consultar la mesa y establecimiento en donde emitirás tu voto.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <a href-inappbrowser="http://www.paredesurquiza.com/paredesurquiza/consultapadron/consulta.html" id="DNdeVoto-button2" class="button button-assertive button-block">Consulta Pádron</a>
  </ion-content>
</ion-view>