<ion-view title="Elecciones La Rioja 2019" hide-nav-bar="true" id="page1">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/zlCczDMLRkWjELxxnB14_elecciones.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="eleccionesLaRioja2019-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Como elector tenés el derecho de acceder a toda la información que necesitas para poder elegir a tus representantes el XX de 2019. Por eso, iNNOVA pone a tu disposición este servicio de información, en el que encontrarás todas las respuestas a tus
        dudas sobre las próximas elecciones.</p>
    </div>
    <ion-list id="eleccionesLaRioja2019-list2">
      <ion-item class="dark" id="eleccionesLaRioja2019-list-item7" ui-sref="menu.QuElegimos()">¿Qué elegimos?</ion-item>
      <ion-item class="dark" id="eleccionesLaRioja2019-list-item8" ui-sref="menu.DNdeVoto()">¿Dónde voto?</ion-item>
      <ion-item class="dark" id="eleccionesLaRioja2019-list-item9" ui-sref="menu.QuDeboSaberAntesDeVotar()">¿Qué debo saber antes de votar?</ion-item>
      <ion-item class="dark" id="eleccionesLaRioja2019-list-item10" ui-sref="menu.QuDeboHacerElDADeLaElecciN()">¿Qué debo hacer el día de la elección?</ion-item>
      <ion-item class="dark" id="eleccionesLaRioja2019-list-item11" ui-sref="menu.datosEInfoDeInterS()">Datos e info de interés</ion-item>
      <ion-item class="dark" id="eleccionesLaRioja2019-list-item16" ui-sref="menu.acercaDeINNOVALaRioja()">Acerca de iNNOVA La Rioja</ion-item>
    </ion-list>
  </ion-content>
</ion-view>