<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <div>
        <img src="img/Cn4FifxSB2ZWyn1zLb3Q_iNNOVA.jpg" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-list id="menu-list1">
        <ion-item class="positive" id="menu-list-item1" ui-sref="menu.eleccionesLaRioja2019()" menu-close="">Inicio</ion-item>
        <ion-item class="positive" id="menu-list-item12" ui-sref="menu.QuElegimos()" menu-close="">¿Qué elegimos?</ion-item>
        <ion-item class="positive" id="menu-list-item2" ui-sref="menu.DNdeVoto()" menu-close="">¿Dónde Voto?</ion-item>
        <ion-item class="positive" id="menu-list-item13" ui-sref="menu.QuDeboSaberAntesDeVotar()" menu-close="">¿Qué debo saber antes de votar?</ion-item>
        <ion-item class="positive" id="menu-list-item14" ui-sref="menu.QuDeboHacerElDADeLaElecciN()" menu-close="">¿Qué debo hacer el día de la elección?</ion-item>
        <ion-item class="positive" id="menu-list-item15" ui-sref="menu.datosEInfoDeInterS()" menu-close="">Datos e info de interés</ion-item>
        <ion-item class="positive" id="menu-list-item3" ui-sref="menu.acercaDeINNOVALaRioja()" menu-close="">Acerca de iNNOVA La Rioja</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>