<ion-view title="¿Qué debo saber antes de votar?" id="page6">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/9fvRFRGjTeCGY8zfHYKo_iconelecciones.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>
        <span style="color: #ff0000;">
          <strong>Es obligatorio votar?</strong>
        </span> Si, es obligatorio para todos los ciudadanos mayores de 18 años y menores de 70 años de edad. Es optativo para los mayores de 16 años y menores de 18.</p>
      <p>
        <span style="color: #ff0000;">
          <strong>Quiénes pueden votar?</strong>
        </span> Toda persona mayor de 18 y menor de 70 años que con domicilio en la Provincia que esté inscripta en el Padrón Electoral Provincial y no posea inhabilitaciones legales.</p>
      <p>Si tengo 15 años y cumplo 16 antes del día de la elección, puedo votar? Sí, si estas inscripta/o en el Padrón Electoral Provincial.</p>
      <p>
        <span style="color: #ff0000;">
          <strong>Los extranjeros pueden votar?</strong>
        </span> Si, los extranjeros que sepan leer y escribir el idioma nacional, con 2 años de residencia inmediata en la provincia y que estén inscriptos en el Padrón Especial de Extranjeros que el Registro Civil confecciona para este caso.</p>
      <p>
        <span style="color: #ff0000;">
          <strong>Con qué documento puedo votar?</strong>
        </span>Son válidos todos los Documentos Cívicos de Identidad cuyo ejemplar sea igual o posterior al que consta en el padrón. Por ejemplo, si en el padrón figura “DNI duplicado” y se presenta con un “DNI triplicado”, o se presenta con un “DNI ejemplar
        B” y en el padrón figura con un “DNI ejemplar A”.</p>
      <p>
        <span style="color: #ff0000;">
          <strong>Qué función cumplen los presidentes de mesa?</strong>
        </span> Los presidentes de mesa son las
        <strong>únicas autoridades</strong> de cada mesa electoral habilitada y por ello deben estar presentes en el momento de la apertura y clausura del acto electoral. Su misión especial es velar por el correcto y normal desarrollo del mismo. Son designados
        por el tribunal electoral 20 días antes de las elecciones.</p>
      <p>
        <span style="color: #ff0000;">
          <strong>Qué función cumplen los fiscales?</strong>
        </span> Los Fiscales son lo que representan a los partidos políticos en las mesas receptoras de votos. &nbsp;Su misión es intervenir, controlar el acto electoral, formular y formalizar los reclamos que estimaren correspondan ante la autoridad de mesa
        (presidente de mesa).&nbsp;</p>
    </div>
  </ion-content>
</ion-view>