<ion-view title="¿Qué debo hacer el día de la elección?" id="page7">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <strong>
          <span style="color: #ff0000;">Cómo voto?</span>
        </strong> El día de la elección, en el horario de 8 a 18 hs., deberás asistir con tu DNI al establecimiento y a la mesa indicados en el padrón electoral. Allí la autoridad de mesa corroborará tu identidad y te dará un sobre en blanco firmado por ella y
        por los fiscales de la mesa para que entres al cuarto oscuro y puedas emitir tu voto de manera secreta.</p>
      <p>
        <span style="color: #ff0000;">
          <strong>Qué debo hacer si faltan votos/boletas en el cuarto oscuro?</strong>
        </span>Debes salir e informarle al presidente de mesa que “faltan boletas”. Esta expresión se usa para expresar que faltan los votos/boletas de algunos candidatos por lo que los fiscales de cada partido deberán concurrir al cuarto oscuro y verificar
        la falta para reponer boletas. Es importante que no digas qué candidato o qué partido es el que falta porque tu voto puede ser pasible de anulación.</p>
      <p>
        <strong>
          <span style="color: #ff0000;">Si estoy enfermo y no puedo votar, qué debo hacer?</span>
        </strong> &nbsp;Un profesional médico de algún establecimiento públicos provincial o nacional deberá concurrir a tu domicilio para verificar la causa de la enfermedad o imposibilidad de ir a votar y deberá entregarte el certificado correspondiente. Este
        certificado debe ser presentado dentro de los 30 días corridos en el Tribunal Electoral para que éste justifique la falta de asistencia al acto comicial.</p>
      <p>
        <strong>
          <span style="color: #ff0000;">Si estoy a más de 300 km del lugar de votación, qué debo hacer?</span>
        </strong> El día de la elección debes justificar que el alejamiento obedece a motivos razonables ante la autoridad policial más próxima, quién deberá extender certificación escrita que acredite la comparecencia.</p>
      <p>
        <strong>
          <span style="color: #ff0000;">SI no aparezco en el padrón. Me pueden incluir el día de la elección?</span>
        </strong> No, nadie puede ser incluido en el padrón luego de que el Tribunal Electoral publique el padrón definitivo.</p>
      <p>
        <span style="color: #ff0000;">
          <strong>Qué está prohibido el día de la elección?</strong>
        </span>
        <strong>Se prohíben:</strong> Actos públicos de proselitismo, desde cuarenta y ocho (48) horas antes de la iniciación del comicio; expendio de cualquier clase de bebidas alcohólicas; la portación de armas, el uso de banderas, divisas u otros distintivos;
        reuniones de electores en una casa o en un partido político ubicados dentro de un radio de ochenta (80) metros alrededor de una mesa receptora; ofrecer o entregar a los electores boletas de sufragio dentro de un radio de ochenta metros (80 mts.)
        de las mesas receptoras de votos.</p>
      <p>
        <span style="color: #ff0000;">
          <strong>Se permiten espectáculos el día de la elección?</strong>
        </span> No, están prohibidos los espectáculos populares, teatrales y deportivos.</p>
      <p>
        <span style="color: #ff0000;">
          <strong>Desde qué hora no se pueden vender bebidas alcohólicas el día de la elección?</strong>
        </span> Desde las 00 horas del día del comicio.</p>
    </div>
  </ion-content>
</ion-view>