<ion-view title="¿Qué elegimos?" id="page4">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <strong>El Próximo 12 de mayo se llevarán a cabo las elecciones&nbsp;generales a nivel provincial, los cargos en disputa, para ejercer durante el período 2019-2023, serán:</strong>
      </p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff0000;">
          <strong>PROVINCIA</strong>
        </span>
      </p>
      <p>
        <span style="color: #0000ff;">*</span> Gobernador</p>
      <p>
        <span style="color: #0000ff;">*</span> vicegobernador</p>
      <p>
        <span style="color: #3366ff;">*</span> Diputados Provinciales</p>
      <p>
        <span style="color: #0000ff;">*</span> Intendentes</p>
      <p>
        <span style="color: #3366ff;">*</span> Concejales</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff0000;">
          <strong>CAPITAL</strong>
        </span>
      </p>
      <p>
        <span style="color: #0000ff;">*</span> Intendente</p>
      <p>
        <span style="color: #0000ff;">*</span> Viceintendente</p>
      <p>
        <span style="color: #0000ff;">*</span> 15 Concejales</p>
    </div>
  </ion-content>
</ion-view>