<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ingeotec.IngeotecUNLaR" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Ingeotec UNLaR</name>
    <description>
        INGEOTEC UNLaR es un Sistema de Gestión de Carrera Universitaria que permite acceder a toda la información sobre el ingreso a la universidad, trámites, horarios, reglamentos y planes de estudios para uso general por cualquier ingresante, estudiante o graduados de la Universidad Nacional de La Rioja; haciendo hincapié principalmente en las carreras de Ciencias Aplicadas representadas por el Centro de Estudiantes INGEOTEC.
    </description>
    <author email="marcos.nieto17@gmail.com" href="http://www.ingeotec.tk/">
        Marcos Nieto
    </author>
    <content src="index.html" />
    <access origin="*" />
   	
	
	<gap:splash src="splash.png" />
<preference name="show-splash-screen-spinner" value="true" />
<preference name="SplashScreenDelay" value="5000" />    
<preference name="fullscreen" value="true" />
	
	
	
	<platform name="android">
        <icon qualifier="xxxhdpi" src="Icon.png" />
        <splash qualifier="" src="Splash.png" />
   	</platform>
	
	
<gap:plugin name="cordova-plugin-inappbrowser" source="npm"/>

<gap:plugin name="cordova-plugin-splashscreen" source="npm"/>
	
	
	
</widget>